body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #303846;

}
.container {
	width: 1000px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.main-header {
	position: fixed;
	
	
	width: 100%;	
	background-color: #fff;
}

.header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px;
}	

.main-header__logo {
	display: flex;
	align-items: center;
}

.main-header__logo a {
	text-decoration: none;
	padding-right: 15px;
	color: #303846;
}

.main-header__menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-header__menu a {
	text-decoration: none;
	padding-left: 20px;
	padding-right: 20px;
	color: inherit;
}

.promo {
	width: 100%;
	min-height: 300px;
	padding-top: 80px;
	
	background-image: url("../images/banner.png");
	background-repeat: no-repeat;
	background-position: 25% 75%;

	background-size: cover;

	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
} 

.promo h1 {
	margin: 0;
	font-size: 40px;
}

.promo p {
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 15px;
}



.button {
	background: none;
	border-radius: 5px;
	padding: 8px 12px;
	cursor: pointer;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
}

.promo-button {
	border: 1px solid #fff;
	color: #fff;
}

.advantages {
	width: 100%;
	background-color: #fff;
}

.advantages-list {
	list-style: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: space-between;
}

.advantage-item {
	width: 270px;
}

.advantage-item p {
	font-size: 16px;
	line-height: 25px;
}

.about {
	background-color: #f7f7f7;
}

.about-box, 
.places-box  {
	display: flex;
	padding: 0;
	margin: 0;
}

.about-foto {
	order: 2;
}

.about figcaption {
	order: 1;
}

.about-text, 
.places-text {
	font-size: 16px;
	line-height: 25px;
}

.about-text {
	margin-right: 100px;
}

.places-text, 
.places-box h2 {
	margin-left: 100px;
}

.request-form {
	background-color: #f7f7f7;
}

.request-form-wrapper {
	max-width: 500px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.request-form-block {
	margin-top: 40px;
	margin-bottom: 25px;
	color: #30d5c8;
	border: 2px solid #30d5c8;
}

.request-item {
	display: flex;
	justify-content: space-around;
	align-content:  center;
}

.request-item label {
	margin-right: auto;
}

.select-rooms,
.select-repair {
	width: 145px;
	padding: 2px;
	margin-right: 80px;
	border-radius: 8px;
	border: 1px solid lightgrey;
}

.request-item input {
	width: 200px;
	padding: 2px;
	margin-right: 20px;
	border: 1px solid lightgrey;
	border-radius: 8px;
}


.form-button {
	border: 1px solid #30d5c8;
	color: #30d5c8;
}

.main-footer {
	background-color: #303846;
	color: #fff;	
}

.main-footer .container {
	display: flex;
	justify-content: space-between;
}

.main-footer-block {
	padding: 0;
	margin: 0;
}

.main-footer-block h3 {
	padding: 0;
	margin: 0;
}

.main-footer-block li {
	margin-bottom: 10px;
}

.main-footer-block a {
	color: #fff;
	text-decoration: none;
}
