body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;

	font-size: 16px;
	color: #303846;
}

main {
	padding-top: var(--main-padding);
}

:root {
	--header-height: 80px;
	--main-padding: 80px;

	--green-color: #30d5c8;
}

.link {
	text-decoration: none;
	padding: 10px 12px;
	color: inherit;
}

.container {
	width: 1000px;
	margin: auto;
	padding-top: 60px;
	padding-bottom: 60px;
}

.flex-space-between {
	display: flex;
	justify-content: space-between;
}

.flex-space-around {
	display: flex;
	justify-content: space-around;
}

.flex-items-center {
	display: flex;
	align-items: center;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.no-space {
	margin: 0;
	padding: 0;
}

.gray-background {
	background-color: #f7f7f7;
}

.line-height25px {
	line-height: 25px;
}

.main-header {
	position: fixed;
	background-color: #fff;		
	width: 100%;	
	height: var(--header-height);

	font-weight: 700;
}

.header-wrapper {
	padding: 10px 30px;
}	

.page-description {
	min-height: 270px;
	padding: 20px;
	
	background-image: url("../images/banner.png");
	background-repeat: no-repeat;
	background-position: 25% 75%;

	background-size: cover;

	flex-direction: column;
	color: #fff;
} 

.main-title {
	margin: 0;
	font-size: 40px;
}

.page-description p {
	font-size: 17px;
	margin-top: 10px;
	margin-bottom: 15px;
}

.button {
	background: none;
	border-radius: 5px;
	padding: 8px 12px;
	cursor: pointer;
	font-size: 15px;

	text-decoration: none;
}

.white-button {
	border: 1px solid #fff;
	color: #fff;
}

.advantage-item {
	max-width: 270px;
}

.section-wrap {
	width: 50%;
}

.section-foto {
	max-width: 40%;
}

.foto-firstly {
	order: -1;
}

.request-form-wrapper {
	max-width: 500px;
	margin: 0 auto;
}

.request-form-fieldset {
	margin-top: 40px;
	margin-bottom: 25px;
	color: #30d5c8;
	border: 2px solid var(--green-color);
}

.request-item label {
	margin-right: auto;
}

.select {
	width: 145px;
	margin-right: 80px;
}

.request-item input {
	width: 200px;
	margin-right: 20px;
}

.form-field {
	border: 1px solid lightgrey;
	border-radius: 8px;
	padding: 2px;
}

.green-button {
	border: 1px solid #30d5c8;
	color: var(--green-color);
}

.main-footer {
	background-color: #303846;
	color: #fff;	
}



